<!DOCTYPE html>
<html lang="en">
<head>
  <title>Default Mess</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="lightpick.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
.btn
{
	 background-color: #1abc9c;
	margin-top: 5px;
	width:65%;
	height:3.5vw;
}
active, .btn:hover {
  background-color: #3ee4c4
}

.modal-content
{
	background-color: white;
	margin:5% auto auto auto;
	border:1px solid #1abc9c;
	width:60%;
}

</style>



<body>
{% include'header.html' %}
<div>

<div style="float:left;width:20%;height:40%; padding: 0px 10px 0px 10px;">
.
</div>


<div style="float:left;width:60%;height:40%; padding: 0px 10px 0px 10px;border-radius: 10px">
<center>
	<h3 style="font-family: 'tahoma'"><u>Admin Dashboard</u></h3>
	<h4 style="font-family: 'tahoma'"  >Admin Name : {{session['name']}}</h4>
	<h4 style="font-family: 'tahoma'">Admin Mess :{{session['mess']}}</h4>


<div class="modal-content" >
	<br>
<a href="generate_mess_report.html"><button class="btn btn-info"><B>Generate Mess Report</B></button></a><br>
<a href="change_default_mess_admin.html"><button class="btn btn-info"><b>Change Student Default Mess</b></button></a><br>
<a href="visualization.html"><button class="btn btn-info"><b>Visualise Data</b></button></a><br>
<a href="change_mess_menu.html"><button class="btn btn-info"><b>Change Mess Menu</b></button></a><br>
<a href="view_student_list.html"><button class="btn btn-info"><b>View Student List</b></button></a><br>
<a href="generate_bill.html"><button class="btn btn-info"><b>Generate Bill</b></button></a><br>
<a href="read_feedback.html"><button class="btn btn-info"><b>View Feedbacks</b></button></a><br>
<!-- <a href="#"><button class="btn btn-danger">Logout</button></a><br> -->
<br>
</div>

</div>


<div style="float:left;width:20%;height:40%; padding: 0px 10px 0px 10px;">
      

</div>


</div>







</body>
</html>
