<!DOCTYPE html>
<html lang="en">
<head>
  <title>Error Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="lightpick.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>




<body>
{% include'header.html' %}
<div>

<div style="float:left;width:25%;height:40%; padding: 0px 10px 0px 10px;">
    
</div>


<div style="float:left;width:50%;height:40%; padding: 0px 10px 0px 10px;border-radius: 10px">

</div>


<div style="float:left;width:25%;height:40%; padding: 0px 10px 0px 10px;">
      

</div>


</div>







</body>
</html>
