<!DOCTYPE html>
<html lang="en">
<head>
  <title>Default Mess</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="lightpick.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
.btn
{
  margin-top: 5px;
  width:50%;
  height:3.5vw;
}

.modal-content
{
  background-color: white;
  margin:5% auto auto auto;
  border:1px solid #777;
  width:60%;
}

</style>




<body>
     {% include 'header.html' %}
<div>
  <div style="float:left;width:25%;height:40%; padding: 0px 10px 0px 10px;">
     .
  </div>


<div style="float:left;width:50%;height:40%; padding: 0px 10px 0px 10px;border-radius: 10px">

<center><b> <h3><u>Download Mess Registrations</u></h3> </b></center>
<center><a href="admin_dashboard.html">Click here Go Back !</a></center>
    <center>
    <div class="modal-content" >
    <!------------------- -->
    <br><br>
    <form method="post">
    <!------------------- -->

    <table> 
        <tr><td>Mess : </td><td> 
                    <select name="name_of_mess">
                      <option>Yuktahar</option><option>North</option>
                      <option>South</option><option>Kadamba</option>
                    </select>
                  </td></tr><br>
                  <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>Date : </td><td><input name="report_date" type="date" required></td></tr>
    </table>
        <br><br>
        <input class="btn btn-primary" formaction="\generatereport" type="submit" value="Submit">
        </form>
        <br><br>

    </div>
<br>

  

</div>
  <div style="float:left;width:25%;height:40%; padding: 0px 10px 0px 10px;">
     
  </div>
</div>
<br>
<br><br>





<script  src="/static/js/home.js"></script>

</body>
</html>
