<nav class="navbar" style="background:#1abc9c ;color:white;">
  <div class="container-fluid" >

      <b> <div class="navbar-header" style="color:white; margin-top: 0px; margin-left: 25%; font-size: 30px; font-family: arial">
        <center><img src="static/a.png" style="height:10vh;">
      IIITH MESS PORTAL
    </div></b>
    <ul class="nav navbar-nav navbar-right">
      <li><a id="btnLogout" href="{{ url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>