<!DOCTYPE html>
<html lang="en">
<head>
  <title>Homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="lightpick.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 
<style>
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #eeeeee;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

</style>









</head>




<body>

<nav class="navbar" style="background:#1abc9c ;color:white;">
  <div class="container-fluid" >
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Home</a>
    </div>  
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Cancel Next Meal</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span id="username" class="glyphicon glyphicon-user"></span></a></li>
      <li><a id="btnLogout" href="../"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div>
  <div style="float:left;width:25%;height:40%; padding: 0px 10px 0px 10px;">
      <br>
      <div style=" height:100%;">
        
        <button  style="width:100%;margin-top: 0px" type="button" class="btn btn-primary">View Mess Registration</button><br>
        <button style="width:100%;margin-top: 10px"type="button" class="btn btn-success">Cancel Meals</button><br>
        <button style="width:100%;margin-top: 10px"type="button" class="btn btn-info">Change Registration</button><br>
        <button style="width:100%;margin-top: 10px"type="button" class="btn btn-warning">View Default Mess</button><br>
      </div>
  </div>


<div style="float:left;width:50%;height:40%; padding: 0px 10px 0px 10px;border-radius: 10px">
 <br>
 <b>Mess Registrations for Next 7 Days</b><Br><br> 
<button class="collapsible">Yuktahar</button>
<div class="content">
  <br>
<table border="1px">
<tr><th>Date</th><th>Breakfast</th><th>Lunch</th><th>Dinner</th></tr>
<tr><td>11 November</td><td></td><td></td><td></td></tr>
<tr><td>12 November</td><td></td><td></td><td></td></tr>
<tr><td>13 November</td><td></td><td></td><td></td></tr>
<tr><td>14 November</td><td></td><td></td><td></td></tr>
<tr><td>15 November</td><td></td><td></td><td></td></tr>
<tr><td>16 November</td><td></td><td></td><td></td></tr>
<tr><td>17 November</td><td></td><td></td><td></td></tr>
</table>
<br>
</div>
<br>

<button class="collapsible">North</button>
<div class="content">
  <br>
<table border="1px">
<tr><th>Date</th><th>Breakfast</th><th>Lunch</th><th>Dinner</th></tr>
<tr><td>11 November</td><td></td><td></td><td></td></tr>
<tr><td>12 November</td><td></td><td></td><td></td></tr>
<tr><td>13 November</td><td></td><td></td><td></td></tr>
<tr><td>14 November</td><td></td><td></td><td></td></tr>
<tr><td>15 November</td><td></td><td></td><td></td></tr>
<tr><td>16 November</td><td></td><td></td><td></td></tr>
<tr><td>17 November</td><td></td><td></td><td></td></tr>
</table>
<br>
</div>
<br>

<button class="collapsible">South</button>
<div class="content">
  <br>
<table border="1px">
<tr><th>Date</th><th>Breakfast</th><th>Lunch</th><th>Dinner</th></tr>
<tr><td>11 November</td><td></td><td></td><td></td></tr>
<tr><td>12 November</td><td></td><td></td><td></td></tr>
<tr><td>13 November</td><td></td><td></td><td></td></tr>
<tr><td>14 November</td><td></td><td></td><td></td></tr>
<tr><td>15 November</td><td></td><td></td><td></td></tr>
<tr><td>16 November</td><td></td><td></td><td></td></tr>
<tr><td>17 November</td><td></td><td></td><td></td></tr>
</table>
<br>
</div>
<br>


<button class="collapsible">Kadamb Veg</button>
<div class="content">
  <br>
<table border="1px">
<tr><th>Date</th><th>Breakfast</th><th>Lunch</th><th>Dinner</th></tr>
<tr><td>11 November</td><td></td><td></td><td></td></tr>
<tr><td>12 November</td><td></td><td></td><td></td></tr>
<tr><td>13 November</td><td></td><td></td><td></td></tr>
<tr><td>14 November</td><td></td><td></td><td></td></tr>
<tr><td>15 November</td><td></td><td></td><td></td></tr>
<tr><td>16 November</td><td></td><td></td><td></td></tr>
<tr><td>17 November</td><td></td><td></td><td></td></tr>
</table>
<br>
</div>
<br>

<button class="collapsible">Kadamb Non-Veg</button>
<div class="content">
  <br>
<table border="1px">
<tr><th>Date</th><th>Breakfast</th><th>Lunch</th><th>Dinner</th></tr>
<tr><td>11 November</td><td></td><td></td><td></td></tr>
<tr><td>12 November</td><td></td><td></td><td></td></tr>
<tr><td>13 November</td><td></td><td></td><td></td></tr>
<tr><td>14 November</td><td></td><td></td><td></td></tr>
<tr><td>15 November</td><td></td><td></td><td></td></tr>
<tr><td>16 November</td><td></td><td></td><td></td></tr>
<tr><td>17 November</td><td></td><td></td><td></td></tr>
</table>
<br>
</div>
<br>

<br>


</div>


  <div style="float:left;width:25%;height:40%; padding: 0px 10px 0px 10px;">
      
  </div>
</div>
<br>
<br><br>





<script  src="/static/js/home.js"></script>

</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
<script src="lightpick.js"></script>
<script>
    
    new Lightpick({
    field: document.getElementById('demo'),
    lang: 'en',
    numberOfMonths:2,
    numberOfColumns: 3,
    singleDate: false,
    }
);
</script>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>