<script>
function show_meal_data(button_name)
    {

     var gsDayNames = [
  'Sunday',
  'Monday',
  'Tuesday',
  'Wednesday',
  'Thursday',
  'Friday',
  'Saturday'
];
 
     
      var today = new Date();
      var dd = today.getDate();
      var hours=today.getHours();
      var dayName = gsDayNames[today.getDay()];
      var x=0
      if(hours>=22 && hours<=23){
        if(button_name=="menuI"){
          meal="breakfast";
          dayName = gsDayNames[today.getDay()+1];
          x+=1;
        }
      if(button_name=="menuII"){
          meal="lunch";
          dayName = gsDayNames[today.getDay()+1];
          x+=1;
        }
      if(button_name=="menuIII"){
          meal="dinner";
          dayName = gsDayNames[today.getDay()+1];
          x+=1;
        } 
      }
      if(hours>=0 && hours<=9){
        if(button_name=="menuI"){
           meal="breakfast";
         }
        if(button_name=="menuII"){
          meal="lunch";
        }
        if(button_name=="menuIII"){
          meal="dinner";
        }  
      }
      if(hours>=10 && hours<=14){
        if(button_name=="menuI"){
           meal="lunch";
         }
        if(button_name=="menuII"){
           meal="dinner";
         } 
        if(button_name=="menuIII"){
           meal="breakfast";
           dayName = gsDayNames[today.getDay()+1];
           x+=1;
         } 
      }
      if(hours>=15 && hours<=21){
        if(button_name=="menuI"){
          meal="dinner";
        }
        if(button_name=="menuII"){
           meal="breakfast";
           dayName = gsDayNames[today.getDay()+1];
           x+=1;
         } 
        if(button_name=="menuIII"){
           meal="lunch";
           dayName = gsDayNames[today.getDay()+1];
           x+=1;
         } 
        
      }  

      
      if(hours>=22 && hours<=23){
        if(button_name=="menuI"){
          meal="breakfast";
          dayName = gsDayNames[today.getDay()+1];
        }
      if(button_name=="menuII"){
          meal="lunch";
          dayName = gsDayNames[today.getDay()+1];
        }
      if(button_name=="menuIII"){
          meal="dinner";
          dayName = gsDayNames[today.getDay()+1];
        } 
      }
      if(hours>=0 && hours<=9){
        if(button_name=="menuI"){
           meal="breakfast";
         }
        if(button_name=="menuII"){
          meal="lunch";
        }
        if(button_name=="menuIII"){
          meal="dinner";
        }  
      }
      if(hours>=10 && hours<=14){
        if(button_name=="menuI"){
           meal="lunch";
         }
        if(button_name=="menuII"){
           meal="dinner";
         } 
        if(button_name=="menuIII"){
           meal="breakfast";
           dayName = gsDayNames[today.getDay()+1];
         } 
      }
      if(hours>=15 && hours<=21){
        if(button_name=="menuI"){
          meal="dinner";
        }
        if(button_name=="menuII"){
           meal="breakfast";
           dayName = gsDayNames[today.getDay()+1];
         } 
        if(button_name=="menuIII"){
           meal="lunch";
           dayName = gsDayNames[today.getDay()+1];
         } 
        
      }  

      
      json_obj_mess_menu = {
          "meal" : meal,
          "day" : dayName,
          "bname" :button_name
        }
        $.post( "/getmealmenu", {
        mydata_mess_menu: JSON.stringify(json_obj_mess_menu)

        }, function(mess_menu_data){
          console.log(mess_menu_data);  
          mess_menu_data = JSON.parse(mess_menu_data);
          
          document.getElementById("meal_modal_day").innerHTML=dayName;

          document.getElementById("mess_modal").innerHTML=mess_menu_data["mess"];
          document.getElementById("meal_modal").innerHTML = mess_menu_data["meal_menu"];
          
          document.getElementById("meal_modal_date").innerHTML=(today.getDate()+x) + "-" +
          (today.getMonth()+1) + "-" + today.getFullYear();

          //meal_menu

        });

    }
</script>



<center>
          <br>  <b><div style="background-color: #1abc9c;margin-bottom:10px;padding-top:7px;color:white;">
        UPCOMING MEALS</b><br>
      </div>  
      <div style="background-color: #1abc9c;margin-bottom:10px;padding-top:7px;color:white;border-radius: 10px">
        
    <form  method="post">
         <p id="myI"></p>
        <button type="button" class="btn btn-warning" style="margin-bottom: 10px;height:30px;margin-top:4px; " class='cal_button' data-toggle='modal' data-target='#mealModal'

          onclick="show_meal_data('menuI')" >Menu</button>

      <input type="submit" id="I" value="Cancel" formaction="/cancelcurrI" class="btn btn-danger" style="margin-bottom: 10px;height:30px;margin-top:4px;">
      </div>
      </form>

      
      <div style="background-color: #1abc9c;margin-bottom:10px;padding-top:7px;color:white;border-radius: 10px ">
        <form method="post">
        <p id="myII" ></p>
        <button type="button" class="btn btn-warning" style="margin-bottom: 10px;height:30px;margin-top:4px; " class='cal_button' data-toggle='modal' data-target='#mealModal'
        onclick="show_meal_data('menuII')">Menu</button>
         

         <input type="submit" id="II" value="Cancel" formaction="/cancelcurrII" class="btn btn-danger" style="margin-bottom: 10px;height:30px;margin-top:4px;">
       </form>
      </div>
      <div style="background-color: #1abc9c;margin-bottom:10px;padding-top:7px;color:white;border-radius: 10px ">
        <form method="post">
        <p id="myIII"></p>
        <button type="button" class="btn btn-warning" style="margin-bottom: 10px;height:30px;margin-top:4px; " class='cal_button' data-toggle='modal' data-target='#mealModal'
        onclick="show_meal_data('menuIII')">Menu</button>
         <input type="submit" id="III" value="Cancel" formaction="/cancelcurrIII" class="btn btn-danger" style="margin-bottom: 10px;height:30px;margin-top:4px;">
        </form>
      </div>

    </center>
</div>